<ion-header>
  <ion-toolbar>
    <ion-title>
      Exercises
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentAddExerciseAlert()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="empty" *ngIf="!exerciseCollection.hasExercises">
        <ion-icon name="alert"></ion-icon>
        <h3>No saved exercises</h3>
    </div>
  <ion-list>
    <ion-item-sliding *ngFor="let exercise of exerciseCollection.exerciseCollection; let i = index">
        <ion-item (click)=selectExercise(exercise)>
            {{exercise.name}}
        </ion-item>
      <ion-item-options>
        <ion-button color="danger" (click)="exerciseCollection.deleteExercice(i)">
            <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
