<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let exercise of exercises">
    <ion-card-header>
      <ion-card-title>Exercise {{exercise.exerciseNumber}}</ion-card-title>
      <ion-card-subtitle>{{exercise.exerciseName}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Set 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-input type="number"></ion-input>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
    <div class="center">
      <ion-button fill="solid" size="small" shape="round">
        Add Set
      </ion-button>
    </div>
    
  </ion-card>
  <div class="center">
    
    <ion-button fill="solid" shape="round" routerLink="/tab2">
      Add Exercise
    </ion-button>
  </div>
</ion-content>
<ion-footer> 
  <ion-button size="default" expand="block">Log it</ion-button>
</ion-footer>
