.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.center {
  text-align: center;
}

ion-row {
  border-bottom: 2px solid lightgray;
}

ion-card {
  padding-bottom: 1em;
}

ion-header { 
  margin-bottom: .5em;
  padding-right: .5em;
}
